main {
  min-height: 80vh;
}
.acn {
  text-decoration: none;
  color: rgb(80, 76, 76);
}
h3 {
  padding: 1rem;
}
.rating span {
  margin: 0.1rem;
}

.brand::first-letter {
  font-size: 2.5rem;
  vertical-align: sub;
  letter-spacing: 0.25rem;
}

.brand {
  letter-spacing: 0.25rem;
}

.addCart {
  width: 100%;
}
